@import "../global/variables";

.background {
  background-color: rgb(51 65 85);
  border-radius: 9999px;
  padding: 1rem;
  //   box-shadow: $shadow;
  box-shadow: 5px 5px 10px 1px #000;
}

.appicon {
  &.tiny {
    height: 1em;
  }
  &.small {
    height: 1.5em;
  }
  &.medium {
    height: 2em;
  }
  &.large {
    height: 3em;
  }  
}