@import "../global/variables";

.appsection {
  gap: 40px;
  // min-height: 100vh;
  // width: calc(7 / 12 * 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  scroll-snap-type: y mandatory;
  border-radius: 0 0.5rem;
  background: linear-gradient(rgb(0, 0, 0, 0.1) 0%, rgb(0, 0, 0, 0.5) 50%, rgb(0, 0, 0, 0.3) 100%);
  background: -webkit-linear-gradient(bottom, rgb(0, 0, 0, 0.1) 0%, rgb(0, 0, 0, 0.5) 50%, rgb(0, 0, 0, 0.3) 100%);
  background: -moz-linear-gradient(bottom, rgb(0, 0, 0, 0.1) 0%, rgb(0, 0, 0, 0.5) 50%, rgb(0, 0, 0, 0.3) 100%);
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.08));
  // backdrop-filter: blur(10px);
  // &.normal {}
  &.fill {
    // background: $off-black;
    &:nth-child(odd) { background: $off-black; }
    &:nth-child(even) { background: $dark-gray; }
  }
  &:last-of-type { flex-grow: 1; }
}

// Width of the section
.full { padding: 75px 40px; }
.big { padding: 75px max(40px, calc((100% - $section-big) / 2)); }
.medium { padding: 75px max(40px, calc((100% - $section) / 2)); }

// Height of the section
.hFull { min-height: calc(100vh - 75px); }
.hAuto { min-height: auto; }
// .hBig { min-height: 75vh; }
// .hMedium {  }