@import "../global/variables";

/** Main tooltip styles */
.tooltip-trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  .tooltip {
    position: absolute;
    text-align: center;
    width: max-content;
    max-width: 20ch;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid $off-white;
    opacity: 0;
    transition: opacity $fast, visibility $fast;
    background-color: $off-black;
    color: $off-white;
    z-index: 1;
  }
}

/** Hide/show tooltip on hover */
.tooltip-trigger {
  .tooltip {
    opacity: 0;
    visibility: hidden;
  }
  &:hover {
    .tooltip {
      visibility: visible;
      opacity: 1;
    }
  }
}

/** Tooltip position */
.tooltip-top {
    bottom: 110%;
    //   left: 0%;
  }
  .tooltip-bottom {
    top: 110%;
    //   left: 0%;
  }
  .tooltip-right {
    //   top: -5px;
    left: 110%;
  }
  .tooltip-left {
    //   top: -5px;
    right: 110%;
  }

/** Tooltip arrows */
.tooltip-trigger .tooltip-top::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.tooltip-trigger .tooltip-bottom::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.tooltip-trigger .tooltip-right::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #fff transparent transparent;
}

.tooltip-trigger .tooltip-left::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
}
